VITE_API_URL=https://sk-chat-k2u8.onrender.com/api
VITE_SOCKET_URL=https://sk-chat-k2u8.onrender.com
VITE_SK_CENTRAL_AUTH_URL=https://www.sk-hub.in/api
VITE_SK_CENTRAL_LOGIN_URL=https://www.sk-hub.in/login
VITE_SK_CENTRAL_PROFILE_URL=https://www.sk-hub.in/profile

VITE_TURN_URLS=turn:turn.example.com:3478
VITE_TURN_USERNAME=PASTE_TURN_USERNAME
VITE_TURN_CREDENTIAL=PASTE_TURN_CREDENTIAL
