VITE_API_URL=https://sk-chat-k2u8.onrender.com/api
VITE_SOCKET_URL=https://sk-chat-k2u8.onrender.com
VITE_SK_CENTRAL_AUTH_URL=https://www.sk-hub.in/api
VITE_SK_CENTRAL_LOGIN_URL=https://www.sk-hub.in/login
VITE_SK_CENTRAL_PROFILE_URL=https://www.sk-hub.in/profile
